# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django / local database
db.sqlite3
*.sqlite3

# Local generated/static user uploads
media/

# IDE / editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables / secrets
.env

# Local binaries
*.exe
