{% extends 'base.html' %}
{% block main %}
<div class="welcome" xmlns="http://www.w3.org/1999/html">
    <form action="#" class="search" id="search">
        <input type="text" placeholder="検索">
    </form>
</div>

<div class="twocolumn">
    <div class="index">
        <h2>登録単語</h2>
        {% if snippets %}
        <div class="scroll-box">
        {% for snippet in snippets %}
            <div class="wordlist">
                <a href="{% url 'snippet_detail' snippet.id %}" class="word">{{ snippet.code }} -【{{ snippet.title }}】</a>
                {% if user.is_authenticated and snippet.created_by_id == user.id %}
                <label><- </label>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="trend">
        <h2>トレンド</h2>
        {% if snippets %}
        <table class="table">
            <thead>
            <tr>
                <th>順位</th>
                <th>見出し語</th>
            </tr>
            </thead>
            <tbody>
            {% for snippet in snippets %}
            <tr>
                {% if forloop.counter <= 10 %}
                <th>{{ forloop.counter }}</th>
                <th><a href="{% url 'snippet_detail' snippet.id %}" class="word">{{ snippet.title }}（{{ snippet.code }}）</a></th>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<div class="submitbtn">
<a class="btn btn-primary" href="{% url 'snippet_new' %}">＋</a>
</div>
{% endblock %}
