{% extends 'base.html' %}
{% block main %}
<div class="welcome">
    <h1 class="title">エラーメモを共有</h1>
    <p class="subtitle">プログラミング中に出たエラーと解決方法を記録できます。</p>
    <a class="btn btn-primary" href="{% url 'snippet_new' %}">メモを投稿</a>
</div>

<div class="use-way">
    <h2>使い方</h2>
    <ol>
        <li>タイトルにはエラー名や困った内容を入力してください。</li>
        <li>コードにはエラーが出たコードや修正後のコードを入力してください。</li>
        <li>説明には原因や解決方法、参考にした内容を記録してください。</li>
    </ol>
</div>

{% if snippets %}
<table class="table">
    <thead>
    <tr>
        <th>投稿者</th>
        <th>投稿日</th>
        <th>エラータイトル</th>
    </tr>
    </thead>
    <tbody>
    {% for snippet in snippets %}
    <tr>
        <th>{{ snippet.created_by.username }}</th>
        <th>{{ snippet.created_at }}</th>
        <th><a href="{% url 'snippet_detail' snippet.id %}">{{ snippet.title }}</a></th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>スニッペとはまだ投稿されていません．</p>
{% endif %}
{% endblock %}
